In [217]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\LENOVO\Documents\Web scrapped files\project files\imdb_movies_shows.csv")

In [5]:
df

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0
...,...,...,...,...,...,...,...,...,...,...,...
5801,Fine Wine,MOVIE,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0
5802,Edis Starlight,MOVIE,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN
5803,Clash,MOVIE,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0
5804,Shadow Parties,MOVIE,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0
5805,Mighty Little Bheem: Kite Festival,SHOW,2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5806 entries, 0 to 5805
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 5805 non-null   object
 1   type                  5806 non-null   object
 2   release_year          5806 non-null   int64
 3   age_certification     3196 non-null   object
 4   runtime               5806 non-null   int64
 5   genres                5806 non-null   object
 6   production_countries  5806 non-null   object
 7   seasons               2047 non-null   float64
 8   imdb_id               5362 non-null   object
 9   imdb_score            5283 non-null   float64
 10  imdb_votes            5267 non-null   float64
dtypes: float64(3), int64(2), object(6)
memory usage: 499.1+ KB

In [11]:
df.head()

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0

In [13]:
print(df)

                                    title   type  release_year  \
0     Five Came Back: The Reference Films   SHOW          1945
1                             Taxi Driver  MOVIE          1976
2         Monty Python and the Holy Grail  MOVIE          1975
3                           Life of Brian  MOVIE          1979
4                            The Exorcist  MOVIE          1973
...                                   ...    ...           ...
5801                            Fine Wine  MOVIE          2021
5802                       Edis Starlight  MOVIE          2021
5803                                Clash  MOVIE          2021
5804                       Shadow Parties  MOVIE          2021
5805   Mighty Little Bheem: Kite Festival   SHOW          2021

     age_certification  runtime                             genres  \
0                TV-MA       48                  ['documentation']
1                    R      113                 ['crime', 'drama']
2                   PG       91              ['comedy', 'fantasy']
3                    R       94                         ['comedy']
4                    R      133                         ['horror']
...                ...      ...                                ...
5801               NaN      100               ['romance', 'drama']
5802               NaN       74         ['music', 'documentation']
5803               NaN       88                ['family', 'drama']
5804               NaN      116             ['action', 'thriller']
5805               NaN        0  ['family', 'comedy', 'animation']

     production_countries  seasons     imdb_id  imdb_score  imdb_votes
0                  ['US']      1.0         NaN         NaN         NaN
1                  ['US']      NaN   tt0075314         8.3    795222.0
2                  ['GB']      NaN   tt0071853         8.2    530877.0
3                  ['GB']      NaN   tt0079470         8.0    392419.0
4                  ['US']      NaN   tt0070047         8.1    391942.0
...                   ...      ...         ...         ...         ...
5801               ['NG']      NaN  tt13857480         6.9        39.0
5802                   []      NaN         NaN         NaN         NaN
5803         ['NG', 'CA']      NaN  tt14620732         6.5        32.0
5804                   []      NaN  tt10168094         6.2         9.0
5805                   []      1.0  tt13711094         8.8        16.0

[5806 rows x 11 columns]

In [15]:
df["type"].value_counts()

type
MOVIE    3759
SHOW     2047
Name: count, dtype: int64

In [17]:
df.head()

,title,type,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes
0,Five Came Back: The Reference Films,SHOW,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN
1,Taxi Driver,MOVIE,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0
2,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0
3,Life of Brian,MOVIE,1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0
4,The Exorcist,MOVIE,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0

In [25]:
#What are the top 10 movies with the highest IMDB scores?
top_movies_by_score = df.sort_values(by = 'imdb_score', ascending = False).head(10)
top_movies_by_score[['title','imdb_score']]

                           title  imdb_score
656                     Khawatir         9.6
2927                    #ABtalks         9.6
243                 Breaking Bad         9.5
3320                  Our Planet         9.3
3827                Kota Factory         9.3
259   Avatar: The Last Airbender         9.3
1422                  Reply 1988         9.2
2057                   My Mister         9.2
5059         Who Rules The World         9.2
3196              The Last Dance         9.1

In [147]:
#Which genres are the most common in the dataset?
from collections import Counter
genres = df['genres'].str.strip("[]").str.replace("'", "").str.split(", ")
genre_counts = Counter([g for sublist in genres.dropna() for g in sublist])
genre_counts.most_common(5)

[('drama', 2901),
 ('comedy', 2269),
 ('thriller', 1178),
 ('action', 1053),
 ('romance', 958)]

In [35]:
#How does the average runtime of movies compare to that of TV shows?
runtime_average = df.groupby("type")["runtime"].mean()
print(f'The runtime average of a movie is {runtime_average['MOVIE']} minutes, while a shows runtime is {runtime_average['SHOW']} minutes')

The runtime average of a movie is 98.78531524341581 minutes, while a shows runtime is 38.82120175867123 minutes

In [157]:
#Which production countries produce the most content in the dataset?
production_countries = df['production_countries'].str.strip("[]").str.replace("'","").str.split(", ")
country_counts = Counter([c for sublist in production_countries.dropna() for c in sublist])
country_counts.most_common(5)

[('US', 2327), ('IN', 629), ('GB', 406), ('JP', 291), ('FR', 248)]

In [41]:
#What is the distribution of age certifications (e.g., PG, R, TV-MA) across movies and TV shows?
df['age_certification'].value_counts()

age_certification
TV-MA    841
R        575
TV-14    470
PG-13    440
PG       246
TV-PG    186
G        131
TV-Y7    112
TV-Y     105
TV-G      76
NC-17     14
Name: count, dtype: int64

In [159]:
#How has the number of releases per year changed over time?
releases_per_year = df["release_year"].value_counts().sort_index()

In [163]:
releases_per_year

release_year
1945      1
1953      1
1954      2
1956      1
1958      1
       ...
2018    774
2019    848
2020    805
2021    758
2022    217
Name: count, Length: 67, dtype: int64

In [171]:
#Which movies or TV shows have the highest number of IMDB votes?
most_voted = df.nlargest(5, 'imdb_votes')[['title', 'type', 'imdb_votes']]

In [173]:
most_voted

                   title   type  imdb_votes
260            Inception  MOVIE   2268288.0
108         Forrest Gump  MOVIE   1994599.0
243         Breaking Bad   SHOW   1727694.0
706     Django Unchained  MOVIE   1472668.0
111  Saving Private Ryan  MOVIE   1346020.0

In [183]:
#Are there any correlations between runtime and IMDB score?
df[['runtime','imdb_score']].corr().iloc[0,1]

-0.15929652102977776

In [113]:
#Which titles have missing IMDB scores or votes, and how many are there?
missing_values = df[df['imdb_score'].isna() | df['imdb_votes'].isna()]
missing_values.shape[0]

539

In [ ]:
#How many seasons do most TV shows have, and what is the average?

In [119]:
shows = df[df['type'] == "SHOW"]

In [121]:
shows['seasons'].value_counts()

seasons
1.0     1187
2.0      374
3.0      181
4.0      116
5.0       76
6.0       40
7.0       16
8.0       14
9.0        9
11.0       7
10.0       5
15.0       4
12.0       4
24.0       3
13.0       2
14.0       2
19.0       1
18.0       1
29.0       1
21.0       1
42.0       1
39.0       1
37.0       1
Name: count, dtype: int64

In [123]:
shows['seasons'].mean()

2.1656082071323888

In [125]:
"""Most shows have one season , while the average season for shows is 2"""

'Most shows have one season , while the average season for shows is 2'

In [133]:
#Which titles have the longest and shortest runtimes?
df.head()
longest = df.groupby('title')["runtime"].sum().idxmax()
shortest = df.groupby('title')["runtime"].sum().idxmin()
longest , shortest

('A Lion in the House', 'Afronta!')

In [139]:
#How many titles are certified for mature audiences (e.g., R, TV-MA)?
mature_audience = df.groupby('age_certification')["title"].count()
mature_audience['R'] + mature_audience['TV-MA']

1416

In [141]:
#What is the average IMDB score for movies vs. TV shows?
df.groupby("type")["imdb_score"].mean()

type
MOVIE    6.266980
SHOW     7.017377
Name: imdb_score, dtype: float64

In [229]:
#Which production countries have the highest average IMDB scores?
country_scores = df.explode('production_countries').groupby('production_countries')['imdb_score'].mean().sort_values(ascending=False)
country_scores

production_countries
['UA', 'GB', 'US']          8.3
['CU', 'US']                8.3
['CD', 'GB']                8.2
['US', 'DE', 'GB']          8.1
['GB', 'US', 'EG']          8.1
                           ...
['NL', 'PS', 'US', 'LB']    NaN
['PS', 'QA']                NaN
['SY', 'GB']                NaN
['US', 'ZA', 'DE']          NaN
['ZA', 'US']                NaN
Name: imdb_score, Length: 449, dtype: float64

In [191]:
#most common genre combo?
df['genre_combo'] = df['genres'].str.strip("[]").str.replace("'", "")
combo_counts = df['genre_combo'].value_counts().head(5)

In [193]:
combo_counts

genre_combo
comedy           510
drama            350
documentation    320
comedy, drama    141
drama, comedy    128
Name: count, dtype: int64

In [207]:
#What is the distribution of content types (movies vs. TV shows) over the years?
type_by_year = df.groupby(['release_year', 'type']).size().unstack().fillna(0)
type_by_year

type          MOVIE   SHOW
release_year
1945            0.0    1.0
1953            1.0    0.0
1954            2.0    0.0
1956            1.0    0.0
1958            1.0    0.0
...             ...    ...
2018          473.0  301.0
2019          540.0  308.0
2020          499.0  306.0
2021          455.0  303.0
2022          108.0  109.0

[67 rows x 2 columns]

In [233]:
#How many titles have multiple production countries listed?
multi_country = df[df['production_countries'].str.contains(",")].shape[0]
multi_country

642